{% extends 'base.html' %}
{% block title %}ჩვენ შესახებ{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>ჩვენ შესახებ ℹ️</h2>
    <p class="fs-5">
      TechShop არის ონლაინ პლატფორმა, სადაც მომხმარებლებს შეუძლიათ შეიძინონ ტექნიკის უახლესი მოდელები, საუკეთესო ფასად.
      ჩვენ გთავაზობთ სანდოობას ✅, ხარისხს ⭐ და სწრაფ მიწოდებას 🚚.
    </p>
    <p class="fs-5">
      გარდა ამისა, მომხმარებლებს ასევე შეუძლიათ დამატებითი პროდუქტის შეყვანა ➕ და გაყიდვა ჩვენს საიტზე — ასე მათ ტექნიკის ვაჭრობა და გაზიარება კიდევ უფრო მარტივი და მოქნილი ხდება.
    </p>
    <div class="mt-4">
      <a href="{{ url_for('home') }}" class="btn btn-secondary">
        ⬅ უკან მთავარ გვერდზე
      </a>
    </div>
</div>
{% endblock %}
